.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
}

.main-todo {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Set your desired background color */
  color: #333; /* Set your desired text color */
  width: 300px; /* Set your desired width */
}

.main-todo input {
  width: 70%;
  padding: 8px;
  margin-right: 8px;
}

.main-todo button {
  padding: 8px;
  background-color: #4caf50; /* Set your desired button background color */
  color: #fff; /* Set your desired button text color */
  border: none;
  cursor: pointer;
}

.main-todo button:hover {
  background-color: #45a049; /* Set your desired button background color on hover */
}

.main-todo ul {
  list-style-type: disc; /* or 'circle' or 'square' based on your preference */
  list-style-position: outside; /* Adjust this property if needed */
  padding-left: 20px;

  /* padding: 0; */
}

.main-todo li {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
span {
  display: flex;
}
.marked {
  text-decoration: line-through;
  color: #970909; /* Optional: Change the color for completed tasks */
}
